@import '../../colors';
@import '../../mixins';

.publishers-grid{
  min-height: 100lvh;
  margin-top: 1rem;
  display: grid;
  @include respond-to("medium") {
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
  @include respond-to("medium") {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}